@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
This is evil stuff...
*/

.solid {
  z-index: 3;
  background-color: rgb(15 23 42);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl text-white mx-auto;
}

._btn {
  @apply rounded-full bg-gray-700 py-1.5 px-5 text-sm text-gray-300 sm:transition-all hover:bg-gray-300 hover:text-gray-800 hover:scale-125;
}

.head_text {
  @apply text-5xl font-extrabold leading-[1.15] text-gray-300 sm:text-6xl text-center;
}

.formbox {
  @apply bg-gray-800 flex;
}

.textbox {
  @apply bg-gray-800 mt-3;
}

.formfield {
  @apply  py-3;
}

