@tailwind base;
@tailwind components;
@tailwind utilities;



.body {
    display: grid;
    width: 100%;
    place-items: center;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2) / var(--tw-bg-opacity));
}
.body > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.formLabel {
    @apply ml-1
}